<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/foot.css">
</head>
<body>
    <div class="footer glass">
        <p>
            <strong>Nombre:</strong>
            <a href="https://www.linkedin.com/in/ayaxgonzalez/" target="_blank" rel="noopener noreferrer">
                Ayax González Suárez
            </a>
        </p>
        <p>
            <strong>Email:</strong>
            <a href="mailto:ayaxprofesor@gmail.com" target="_blank">
                ayaxprofesor@gmail.com
            </a>
        </p>
    </div>
</body>
</html>
