<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/tinyfoot.css">
</head>

<body>
    <div class="tinyfoot glass" id="tinyfoot">
        <button class="close-btn" id="close-btn">✕</button>
        <span>👨‍🏫 - Ayax González Suárez</span>
        <span>📧 - ayaxprofesor@gmail.com</span>
        <span class="zoom-hint">🔍 Ctrl + rueda del ratón para ajustar el zoom</span>
        <div class="progress-bar" id="progress-bar"></div>
    </div>
    <script src="/js/tinyfootlogic.js"></script>
</body>

</html>